*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body{
    width: 80%;
    margin: auto;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 30px;
}

.mt-20{
    margin-top: 20px;
}

.ml-10{
    margin-left: 10px;
}

h4{
    text-transform: uppercase;
    font-weight: bold;
}

.p-details{
    position: relative;
    display: inline-block;
}

.p-details:hover .img1{
    visibility: hidden;
}

img{
    height: 500px;
}

.discount{
    position: absolute;
    bottom: 70px;
    left: 0px;
    background-color:#eb0037;
    color: white;
    padding: 2px;
}

.eco{
    position: absolute;
    bottom: 70px;
    left: 35px;
    background-color:#00875a;
    color: white;
    padding: 2px;
}

.product-6 .eco{
    bottom: 70px;
    left: 0px;
}

.red{
    color: red;
    font-size: 13px;
}

.discounted{
    font-size: 13px;
}

.heart{
    position: absolute;
    top: 20px;
    right: 0px;
    background-color: white;
    font-size: 30px;
    padding: 10px;
}

.product-1:hover{
    cursor: pointer;
    background-image: url("../Images/1b.webp");
    background-size: cover;
    background-position: center;
}

.product-2:hover{
    cursor: pointer;
    background-image: url("../Images/2b.webp");
    background-size: cover;
    background-position: center;
}

.product-3:hover{
    cursor: pointer;
    background-image: url("../Images/3b.webp");
    background-size: cover;
    background-position: center;
}

.product-4:hover{
    cursor: pointer;
    background-image: url("../Images/4b.webp");
    background-size: cover;
    background-position: center;
}

.product-5:hover{
    cursor: pointer;
    background-image: url("../Images/5b.webp");
    background-size: cover;
    background-position: center;
}

.product-6:hover{
    cursor: pointer;
    background-image: url("../Images/6b.webp");
    background-size: cover;
    background-position: center;
}

.description{
    background-color: white;
}