*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body{
    width: 80%;
    margin: auto;
}

.mt-20{
    margin-top: 20px;
}

.ml-10{
    margin-left: 10px;
}

.product-1{
    position: relative;
    display: inline-block;
    back 
}

img{
    height: 500px;
}

.discount{
    position: absolute;
    bottom: 70px;
    left: 0px;
    background-color:red;
}

.eco{
    position: absolute;
    bottom: 70px;
    left: 35px;
    background-color:green;
}

.heart{
    position: absolute;
    top: 20px;
    right: 0px;
    background-color: white;
    font-size: 40px;
    padding: 10px;
}

.product-1:hover{
    background-image: url("../Images/1b.webp");
    z-index: 1px;
    height: 500px;
    cursor: pointer;
}
    
