*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body{
    width: 80%;
    margin: auto;
}

.mt-20{
    margin-top: 20px;
}

.ml-10{
    margin-left: 10px;
}

.p-details{
    position: relative;
    display: inline-block;
}

.p-details:hover .img1{
    visibility: hidden;
}

img{
    height: 500px;
}

.discount{
    position: absolute;
    bottom: 70px;
    left: 0px;
    background-color:red;
}

.eco{
    position: absolute;
    bottom: 70px;
    left: 35px;
    background-color:green;
}

.heart{
    position: absolute;
    top: 20px;
    right: 0px;
    background-color: white;
    font-size: 30px;
    padding: 10px;
}

.product-1:hover{
    cursor: pointer;
    background-image: url("../Images/1b.webp");
    background-size: cover;
    background-position: center;
}

.product-2:hover{
    cursor: pointer;
    background-image: url("../Images/2b.webp");
    background-size: cover;
    background-position: center;
}

.description{
    background-color: white;
}